---
// import MainData from '../data/main.json'

const { pathname } = Astro.url;
const currentPath = pathname.slice(1);
---
<header class="md:flex items-end">
    <div class="flex-1">
        <div id="site-title" class="container mx-auto mt-8 mb-4">
            <h1 class="text-3xl md:text-4xl font-bold">Fimg假圖產生站</h1>
            <h2 class="text-2xl md:text-2xl"><small>Fake Image Generator</small></h2>
        </div>
    </div>
    <div class="flex-none">
        <nav class="mr-4">
            <ul class="tabs max-[330px]:tabs-box min-[330px]:tabs-lift md:tabs-xl">
                <li class=`tab [--tab-border-color:transparent] ${currentPath === 'intro'    ? 'tab-active' : ''}`>簡介</li>
                <li class=`tab [--tab-border-color:transparent] ${currentPath === ''         ? 'tab-active' : ''}`>首頁</li>
                <li class=`tab [--tab-border-color:transparent] ${currentPath === 'use'      ? 'tab-active' : ''}`>使用說明</li>
                <li class=`tab [--tab-border-color:transparent] ${currentPath === 'assets'   ? 'tab-active' : ''}`>素材</li>
                <li class=`tab [--tab-border-color:transparent] ${currentPath === 'examples' ? 'tab-active' : ''}`>範例</li>
            </ul>
        </nav>
    </div>
</header>