---
// import MainData from '../data/main.json'

const { pathname } = Astro.url;
// 移除開頭的「/」與結尾可能的「/」
// 例如 "/use/" → "use"、"/" → ""、"/intro" → "intro"
const currentPath = pathname.replace(/^\/|\/$/g, '');
---
<header id="site-header" class="md:flex items-end">
    <div class="flex-1">
        <div id="site-title" class="container mx-auto mt-8 mb-4">
            <h1 class="text-3xl md:text-4xl font-bold">Fimg 預留圖產生站</h1>
            <h2 class="text-2xl md:text-2xl"><small>Fake Image Generator 一站式假圖產生器</small></h2>
        </div>
    </div>
    <div class="flex-none">
        <nav role="tablist" class="mr-4 tabs max-[340px]:tabs-box min-[340px]:tabs-lift md:tabs-xl">
            <a role="tab" class=`tab [--tab-border-color:transparent] ${currentPath === 'intro'    ? 'tab-active' : ''}` href="/intro">簡介</a>
            <a role="tab" class=`tab [--tab-border-color:transparent] ${currentPath === ''         ? 'tab-active' : ''}` href="/">首頁</a>
            <a role="tab" class=`tab [--tab-border-color:transparent] ${currentPath === 'use'      ? 'tab-active' : ''}` href="/use">使用說明</a>
            <a role="tab" class=`tab [--tab-border-color:transparent] ${currentPath === 'resources'? 'tab-active' : ''}` href="/resources">素材</a>
            <a role="tab" class=`tab [--tab-border-color:transparent] ${currentPath === 'examples' ? 'tab-active' : ''}` href="/examples">範例</a>
        </nav>
    </div>
</header>
