---
interface Props {
    name?: string;
    options?: Record<string, string>;
    disabled?: boolean;
}

const { name, options = {}, disabled = false } = Astro.props;
---

<select name={name} class="select w-full" {disabled}>
    <option value="" disabled selected>Select a template</option>
    {Object.keys(options).map(key => (
        <option value={key}>{key}</option>
    ))}
</select>
