---
import Layout from '../layouts/Layout.astro';
import "../styles/eurl.css";

---

<style>
    .eurl { display: block`!important; }
    .eurl-content { margin-left: 0; }
    .eurl-base, .eurl-content { display: inline-block;}
    .eurl-group { margin: 0 0.1em; padding-left: 0.1em; padding-right: 0.1em; }
    /* .eurl-group { margin: 0 0; padding-left: 0; padding-right: 0; } */
    .eurl-part { margin: 0; }
</style>

<Layout>
<section id="intro" class="prose !max-w-none -mt-[1em]">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-4">
        <div class="col-span-2">
            <h2>簡介</h2>
            <article id="intro-content">
                <p>以在CDN原生直接運行的條件下，重新復刻 Fake images please? 的原有功能。在設計網站時，在已知尺寸的情況下，可快速插入預留圖可以幫助您排版。</p>
                <p>並在原有的網址結構基礎下，加入分組式的網址結構，預留未來加入其他內容類型的彈性。</p>
                <p>同時也新增邊緣背景設計的功能，方便用於製作螢幕截圖示意圖、簡報圖美化用途。</p>
            </article>
        </div>
        <div class="prose-img:m-2 hidden lg:flex">
            <div class="first-line">
                <img alt="fakeimg.pl" src="/440x300/bg/5/2/ph?text=我是佔位圖">
            </div>
        </div>
    </div>
</section>

</Layout>
