---
import Layout from '../layouts/Layout.astro';
import TplCard from '../components/TplCard.astro';
import FontCard from '../components/FontCard.astro';
import { PUBLIC_BASE_URL } from 'astro:env/client';
---

<Layout>
<div class="prose !max-w-none">
    <section id="outline">
        <h2 class="mt-1">可用素材總覽</h2>
    </section>
    <section id="fonts" class="">
        <h2>字體</h2>

        <article>
            <header>
                <h3>jf open 粉圓</h3>
            </header>
            <FontCard id="huninn" />
            <p>jf-openhuninn-2.1.ttf</p>
            <p>https://github.com/justfont/open-huninn-font?tab=readme-ov-file</p>
            <p>https://justfont.com/huninn/</p>
        </article>

        <article>
            <header>
                <h3>Noto Sans Traditional Chinese</h3>
            </header>
        
            <div class="flex">
                <div class="flex-auto">
                    <p>NotoSansTC-Medium.ttf</p>
                    <p>https://fonts.google.com/noto/specimen/Noto+Sans+TC</p>
                </div>
                <div class="flex-none not-prose grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
                    <FontCard id="noto" />
                </div>
            </div>
        </article>

        <article>
            <header>
                <h3>台北黑體 - 翰字鑄造 JT Foundry</h3>
            </header>
            <p>TaipeiSansTCBeta-Regular.ttf</p>
            <p>TaipeiSansTCBeta-Bold.ttf</p>
            <p>https://sites.google.com/view/jtfoundry/zh-tw</p>
            <div class="not-prose grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
                <FontCard id="TaipeiSans" />
                <FontCard id="TaipeiSansB" />
            </div>
        </article>


        <article>
            <header>
                <h3>清松手寫體</h3>
            </header>
            <p>https://jasonfonts.max-everyday.com/</p>
            <div class="not-prose grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
                <FontCard id="JasonHandwriting1" />
                <FontCard id="JasonHandwriting2" />
                <FontCard id="JasonHandwriting3" />
                <FontCard id="JasonHandwriting3p" />
                <FontCard id="JasonHandwriting4" />
                <FontCard id="JasonHandwriting5" />
                <FontCard id="JasonHandwriting5p" />
                <FontCard id="JasonHandwriting6" />
                <FontCard id="JasonHandwriting6p" />
            </div>
        </article>


    </section>
    <section id="bg">
        <h2>背景</h2>

        <section id="gnome">
            <header>
                <h3>Gnome預設</h3>
                <p>https://zebreus.github.io/all-gnome-backgrounds/</p>
            </header>
            <article>
                <p>https://jasonfonts.max-everyday.com/</p>
            </article>
    
            <div class="not-prose grid grid-cols-1 md:grid-cols-3 lg:grid-cols-5 gap-4">
                <TplCard id="adwaita-d" />
                <TplCard id="adwaita-l" />
                <TplCard id="amber-d" />
                <TplCard id="amber-l" />
                <TplCard id="blobs-l" />
                <TplCard id="drool-d" />
                <TplCard id="drool-l" />
                <TplCard id="fold-d" />
                <TplCard id="fold-l" />
                <TplCard id="morphogenesis-d" />
                <TplCard id="morphogenesis-l" />
                <TplCard id="symbolic-d" />
                <TplCard id="symbolic-l" />
            </div>
        </section>
        
    </section>
</div>
</Layout>