---
import Layout from '../layouts/Layout.astro';
---

<Layout>
<div class="prose !max-w-none">
    <section id="outline">
        <h2 class="mt-1">可用素材總覽</h2>
    </section>
    <section id="fonts">
        <h2>字體</h2>

        <article>
            <header>
                <h3>jf open 粉圓</h3>
                <ul>
                    <li>huninn</li>
                </ul>
            </header>
            <p>jf-openhuninn-2.1.ttf</p>
            <p>https://github.com/justfont/open-huninn-font?tab=readme-ov-file#%E5%8A%A0%E7%B2%89%E5%9C%93%E9%83%BD%E5%85%8D%E9%8C%A2</p>
            <p>https://justfont.com/huninn/</p>
        </article>

        <article>
            <header>
                <h3>Noto Sans Traditional Chinese</h3>
                <ul>
                    <li>noto</li>
                </ul>
            </header>
            <p>NotoSansTC-Medium.ttf</p>
            <p>https://fonts.google.com/noto/specimen/Noto+Sans+TC</p>
        </article>

        <article>
            <header>
                <h3>台北黑體 - 翰字鑄造 JT Foundry</h3>
                <ul>
                    <li>TaipeiSans</li>
                    <li>TaipeiSansB</li>
                </ul>
            </header>
            <p>TaipeiSansTCBeta-Regular.ttf</p>
            <p>TaipeiSansTCBeta-Bold.ttf</p>
            <p>https://sites.google.com/view/jtfoundry/zh-tw</p>
        </article>

        <article>
            <header>
                <h3>清松手寫體</h3>
                <ul>
                    <li>JasonHandwriting1</li>
                    <li>JasonHandwriting2</li>
                    <li>JasonHandwriting3</li>
                    <li>JasonHandwriting3p</li>
                    <li>JasonHandwriting4</li>
                    <li>JasonHandwriting5</li>
                    <li>JasonHandwriting5p</li>
                    <li>JasonHandwriting6</li>
                    <li>JasonHandwriting6p</li>
                </ul>
            </header>
            <p>https://jasonfonts.max-everyday.com/</p>
        </article>


    </section>
    <section id="bg">
        <h2>背景</h2>
    </section>
</div>
</Layout>