.eurl {
    display: grid;
    overflow: scroll;
}
.eurl-content {
    margin-left: 3em;
    flex-wrap: wrap;
}
.eurl .eurl-base {
    flex-wrap: nowrap;
    text-wrap: nowrap;
}
.eurl .eurl-base, .eurl .eurl-content {
    display: inline-flex;
}
@media (width >= 48rem) {
    .eurl { display: flex; }
    .eurl-content { margin-left: 0; }
    .eurl .eurl-base, .eurl .eurl-content {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
}
.eurl .eurl-group {
    display: inline-table;
    align-items: start;
    width: fit-content;
    margin: 0 0.5em;
    /* background-color: darkred; */
    border-radius: 12px;
}
.eurl .eurl-group::before {
    content: '';
    font-size: 0.6em;
    display: table-footer-group;
    color: oklch(75% 0.006 286.286);
    text-align: center;
}
.eurl .eurl-group[data-url-gtitle]::before {
    content: '' attr(data-url-gtitle) '';
}

.eurl .eurl-part {
    /* padding: 0 0.5em; */
    /* background-color: rgb(28, 114, 85); */
    display: inline-table;
    justify-items: center;

    /* display: table; */
}
.eurl .eurl-part::before {
    content: '';
    font-size: 0.6em;
    display: table-footer-group;
    color: oklch(75% 0.006 286.286);

    /* display: table-header-group; */
    /* line-height: 1em; */
}
@media (width >= 48rem) {
    .eurl .eurl-part {
        margin: 0 0.5em;
        text-align: center;
    }
    .eurl .eurl-group {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    .eurl .eurl-group::before {
        position: relative;
        top: 6px;
    }
    .eurl .eurl-part::before {
        content: ' ';
    }
    .eurl .eurl-part[data-url-ptitle]::before {
        content: '[' attr(data-url-ptitle) ']';
    }
}
