@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* DaisyUI Plugin - Tailwind v4 CSS-first configuration */
@plugin "daisyui" {
    themes: autumn --default, halloween --prefersdark;
    /* exclude: alert ,avatar ,badge ,breadcrumbs ,button ,calendar ,card ,carousel ,chat ,checkbox ,collapse ,countdown ,diff ,divider ,dock ,drawer ,dropdown ,fab ,fieldset ,fileinput ,filter ,footer ,hero ,hover3d ,hovergallery ,indicator ,input ,kbd ,label ,link ,list ,loading ,mask ,menu ,mockup ,modal ,navbar ,progress ,radialprogress ,radio ,range ,rating ,select ,skeleton ,stack ,stat ,status ,steps ,swap ,tab ,table ,textarea ,textrotate ,timeline ,toast, properties, reset ,rootscrollgutter ,rootscrolllock ,scrollbar, glass, join, radius, typography; */
    root: ":root";
}

/* Custom Styles */
@font-face {
  font-family: "huninn";                         /* 字體名稱 */
  src: url("/font/jf-openhuninn-2.1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;                         /* 提升載入體驗 */
}
@font-face {
  font-family: "noto";                         /* 字體名稱 */
  src: url("/font/NotoSansTC-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;                         /* 提升載入體驗 */
}
:root {
  --font-display: "huninn", "noto", sans-serif;          /* 若要備援字體可加在後面 */
}
html, body {
  font-family: var(--font-display);
}
