@import "tailwindcss";
@plugin "@tailwindcss/typography";

/* DaisyUI Plugin - Tailwind v4 CSS-first configuration */
@plugin "daisyui" {
    themes: autumn --default, halloween --prefersdark;
    /* exclude: alert ,avatar ,badge ,breadcrumbs ,button ,calendar ,card ,carousel ,chat ,checkbox ,collapse ,countdown ,diff ,divider ,dock ,drawer ,dropdown ,fab ,fieldset ,fileinput ,filter ,footer ,hero ,hover3d ,hovergallery ,indicator ,input ,kbd ,label ,link ,list ,loading ,mask ,menu ,mockup ,modal ,navbar ,progress ,radialprogress ,radio ,range ,rating ,select ,skeleton ,stack ,stat ,status ,steps ,swap ,tab ,table ,textarea ,textrotate ,timeline ,toast, properties, reset ,rootscrollgutter ,rootscrolllock ,scrollbar, glass, join, radius, typography; */
    root: ":root";
}

/* Custom Styles */
@font-face {
  font-family: "huninn";
  src: url("/font/jf-openhuninn-2.1.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* @font-face {
  font-family: "noto";
  src: url("/font/NotoSansTC-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
:root {
  --font-display: "huninn", sans-serif;          /* 若要備援字體可加在後面 */
}
html, body {
  font-family: var(--font-display);
}


.backgroundImg-grid {
  background-image: linear-gradient(45deg, #f8fafc90 25%, transparent 25%), linear-gradient(-45deg, #f8fafc90 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #f8fafc90 75%), linear-gradient(-45deg, transparent 75%, #f8fafc90 75%);
  background-size: 24px 24px;
  background-position: 0 0, 0 12px, 12px -12px, -12px 0px;
  background-color: #ffffff00;
}